sample-parallel.flow
[{"id":"900a1068.4e2d5","type":"http in","z":"57eec09b.47e49","name":"","url":"/yy","method":"get","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["1949d886.b10137"]],"constraints":{"1":{"id":"1","deviceName":"1","fill":"#c425c6","text":"1"},"link":{"0_1949d886.b10137":"1N"}}},{"id":"2821c147.7a4eae","type":"http response","z":"57eec09b.47e49","name":"","statusCode":"","headers":{},"x":730,"y":340,"wires":[],"constraints":{"1":{"id":"1","deviceName":"1","fill":"#c425c6","text":"1"}}},{"id":"1949d886.b10137","type":"change","z":"57eec09b.47e49","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload['a']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":340,"wires":[["1b2baab0.916ba5"]],"constraints":{"bc":{"id":"bc","location":"{\"ne\":[49.951642248413386,-122.142692125],\"sw\":[48.77834529533704,-123.625846421875]}","fill":"#f42404","text":"bc"},"link":{"0_1b2baab0.916ba5":"N1"}}},{"id":"1b2baab0.916ba5","type":"join","z":"57eec09b.47e49","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":340,"wires":[["2821c147.7a4eae"]],"constraints":{"1":{"id":"1","deviceName":"1","fill":"#c425c6","text":"1"}}}]
