stresstest.flow
[{"id":"900a1068.4e2d5","type":"http in","z":"57eec09b.47e49","name":"","url":"/xx","method":"get","upload":false,"swaggerDoc":"","x":190,"y":340,"wires":[["1949d886.b10137"]],"constraints":{"1":{"id":"1","deviceName":"1","fill":"#c425c6","text":"1"}}},{"id":"2821c147.7a4eae","type":"http response","z":"57eec09b.47e49","name":"","statusCode":"","headers":{},"x":650,"y":340,"wires":[],"constraints":{"1":{"id":"1","deviceName":"1","fill":"#c425c6","text":"1"}}},{"id":"1949d886.b10137","type":"change","z":"57eec09b.47e49","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload['a']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":340,"wires":[["2821c147.7a4eae"]],"constraints":{"2":{"id":"2","deviceName":"2","fill":"#c425c6","text":"2"}}}]
